html{
    min-width: 99vw;
    width: 99vw;
    max-width: 99vw !important;
    height: 95vh;
}
body{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
#board{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    table-layout: fixed;
    width: 40%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}
td{
    width: 33.333%;
    height: 33.333%;
    border: 2px #396 solid;
    text-align: center;
    font-family: Lucida Console;
    font-weight: bold;
    font-size: large;
    color: #396;
    cursor: pointer;
}
#mode{
    width: 100%;
    display: flex;
    font-size: small;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-family: Lucida Console;
    font-weight: bold;
    font-size: medium;
    color: #396;
    height: 10%;
}
.btn{
    cursor: pointer;
    width: 33%;
    background-color: #396;
    color: #fff;
    border-radius: 5px;
    font-size: large;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    background-color: #396;
    font-size: larger;
    font-weight: bold;
    text-transform: lowercase;
    font-family: Lucida Console;
    border-radius: 5px;
}
#notice{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    font-family: Lucida Console;
    color: #396;
}
#scoreboard{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    font-family: Lucida Console;
    font-weight: bold;
    font-size: large;
    color: #396;
}
.playerscore{
    display: flex;
    width: auto;
    align-items: center;
}
.player{
    margin-right: 5px;
}
#control{
    display: flex;
    justify-content: space-between;
    font-family: Lucida Console;
    align-items: flex-end;
    font-size: larger;
    font-weight: bold;
    height: 10%;
    color: #396;
    width: 100%;
}
@media only screen and (max-width: 600px){
    table{
        width: 90%;
    }
}